@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 13px;
  background-color: #edf2f8;
}

 .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1200px;
  padding: 1.5rem 3rem;
  margin: 0 auto;
}
.box {
  margin: 10px;
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 10px rgb(0,0,0,0.4);
}
.one { 
  grid-area: 1 / 1 / 2 / 3;
  background-color: #7541c8;
  background-image: url(https://tareqezini.github.io/Challenge-N08/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 10%;
  color: #ffffff;
}
.two { 
  grid-area: 1 / 3 / 2 / 4;
  background-color: #48556a;
  color: #ffffff;
}
.three { 
  grid-area: 2 / 1 / 3 / 2;
  background-color: #ffffff;
  color: #48556a;
}
.four { 
  grid-area: 2 / 2 / 3 / 4;
  background-color: #19212e;
  color: #ffffff;
}
.five { 
  grid-area: 1 / 4 / 3 / 5;
  background-color: #ffffff;
  color: #48556a;
}
h2 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
}
.top-section {
  display: flex;
}
.pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border: 2px solid #777;
}
.picone {
  background-image: url('https://www.ruizamith.com/dev/frontendmentor-testimonials-grid-section/images/image-daniel.jpg');
}
.pictwo {
  background-image: url('https://www.ruizamith.com/dev/frontendmentor-testimonials-grid-section/images/image-jonathan.jpg');
}
.picthree {
  background-image: url('https://www.ruizamith.com/dev/frontendmentor-testimonials-grid-section/images/image-jeanette.jpg');
}
.picfour {
  background-image: url('https://www.ruizamith.com/dev/frontendmentor-testimonials-grid-section/images/image-patrick.jpg');
}
.picfive {
  background-image: url('https://www.ruizamith.com/dev/frontendmentor-testimonials-grid-section/images/image-kira.jpg');
}
.name {
  padding-left: 20px;
}
#sub-title {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
  margin-top: 5px;
}
#testimonial-one {
  font-size: 19px;
  font-weight: 500;
  margin-top: 10px;
}
#testimonial-two {
  opacity: 0.5;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .one, .two, .three, .four, .five {
    
  }
  .parent {
    display: block;
    padding: 15px;
  }
}